<div class="container">
    <div class="div-img">
        <img src="../../../assets/terno.jpeg" alt="Terno">
    </div>
    <div class="info-container">
        <h2 class="title">Mauricio Carmen Liñan</h2>
        <p class="subtitle">
            I'm a software engineering student and I'm studying my last cycles of the degree. Most of my time is spent studying because I like to learn more about programming.
            My greatest desire is work as a team to develop quality products and at the same time learn from other people with more experience.
            Now, I seek to develop projects to put into practice everything I have learned.
        </p>
        <p class="sub-subtitle">I hope you like my projects </p>
    </div>
</div>
