<div class="container">
    <div class="div-img">
        <img src="../../../assets/terno.jpeg" alt="Terno">
    </div>
    <div class="info-container">
        <h2 class="title">Mauricio Carmen Liñan</h2>
        <p class="subtitle">
            I'm a software engineering graduate. I spend most of my time studying because I enjoy learning more about programming.
            My greatest desire is to work in a team to develop quality products while learning from others with more experience.
            Now, I'm looking to develop projects to put everything I've learned into practice.
            I'm also interested in learning about new technologies and how to apply them in my projects.
        </p>
        <p class="sub-subtitle">I hope you like my projects </p>
    </div>
</div>
